<!DOCTYPE html>

<html lang="en">
{% include 'head.html' %}
<body>
    <div id="container">
        <a class="header" href="."><h1>IndieCert</h1></a>
        
        <p>
            Welcome to your account page! Your identity is <code>{{ me|e }}</code>.
        </p>

        <form method="post" action="indieauth/logout">
            <input type="submit" value="Logout">
        </form>

        {% if approvals %}

        <h2 id="approvals">Approvals</h2>
        <p>
            This table shows a list of websites for which you decided to remember
            the approval. Approvals expire automatically after 7 days.
        </p>

        <table class="account">
            <tr>
                <th>Website</th>
                <th>Scope</th>
                <th>Expires ({{ date()|date("T") }})</th>
            </tr>

            {% for approval in approvals %}
                <tr>
                    <td><a href="{{ approval.client_id|e }}">{{ approval.client_id|e }}</a></td>
                    <td>
                        {% if approval.scope %}
                            <code>{{ approval.scope|e }}</code>
                        {% else %}
                            <small><em>n/a</em></small>
                        {% endif %}
                    </td>
                    <td>{{ approval.expires_at|e|date("Y-m-d H:i:s") }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if tokens %}
        <h2 id="access_tokens">Access Tokens</h2>
        <p>
            This table shows a list of websites that have access tokens granted
            to them.
        </p>

        <table class="account">
            <tr>
                <th>Website</th>
                <th>Scope</th>
                <th>Issued ({{ date()|date("T") }})</th>
                <th>Actions</th>
            </tr>

            {% for token in tokens %}
                <tr>
                    <td><a href="{{ token.client_id|e }}">{{ token.client_id|e }}</a></td>
                    <td><code>{{ token.scope|e }}</code></td>
                    <td>{{ token.issue_time|e|date("Y-m-d H:i:s") }}</td>
                    <td>
                        <form method="post" action="token/{{ token.access_token|e }}">
                            <input type="hidden" name="_METHOD" value="DELETE">
                            <input class="err" type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        <h2 id="micropub">Micropub</h2>
        <p>
            You can generate a token here for use by your own
            <a href="https://indiewebcamp.com/micropub">micropub</a> endpoint.
            See the <a href="faq#micropub">FAQ</a> for more information.
        </p>

        {% if credential %}
            <p>
            Your token is <code>{{ credential.bearer_token|e }}</code>.
            </p>

            <form method="post" action="credential">
                <input type="hidden" name="_METHOD" value="DELETE">
                <input class="err" type="submit" value="Delete">
            </form>
        {% else %}
            <form class="credentials" method="post" action="credential">
                <input type="hidden" name="type" value="micropub">
                <input class="info" type="submit" value="Generate">
            </form>
        {% endif %}

        {% include 'footer.html' %}
    </div> <!-- /container -->
</body>
</html>
