<!DOCTYPE html>

<html lang="en">
{% include 'head.html' %}
<body>
    <div id="container">
        <a class="header" href="."><h1>IndieCert</h1></a>
        
        <p>
            Welcome <code>{{ me|e }}</code> to your account page.
        </p>

        <form method="get" action="indieauth/logout">
            <input type="submit" value="Logout">
        </form>

        <h2>Approvals</h2>
        <p>
            This table shows a list of clients for which you remembered the
            approval. You can delete them here.
        </p>

        <h2>Access Tokens</h2>
        <p>
            This table shows a list of clients and the access tokens granted to
            them. You can delete them here.
        </p>

        <table class="accessTokens">
            <tr><th>Website</th><th>Scope</th><th>Issued</th><th></th></tr>
            {% for token in tokens %}
                <tr>
                    <td><code>{{ token.client_id|e }}</code></td>
                    <td><code>{{ token.scope|e }}</code></td>
                    <td>{{ token.issue_time|e|date }}</td>
                    <td><form method="post" action="{{ token.scope|e }}"><input class="delete" type="submit" value="Delete"></form></td>
                </tr>
            {% endfor %}
        </table>

        {% include 'footer.html' %}
    </div> <!-- /container -->
</body>
</html>
