<!DOCTYPE html>

<html lang="en">
{% include 'head.html' %}
<body>
    <div id="container">
        <a class="header" href="."><h1>IndieCert</h1></a>

        <p>
            Welcome to your account page! Your identity is <code>{{ me|e }}</code>.
        </p>

        <form method="post" action="_indieauth/logout">
            <input type="submit" value="Logout">
        </form>

        {% if approvals %}

        <h2 id="approvals">Approvals</h2>
        <p>
            This table shows a list of websites for which you decided to remember
            the approval. Approvals expire automatically after 7 days.
        </p>

        <table class="account">
            <tr>
                <th>Website</th>
                <th>Expires ({{ date()|date("T") }})</th>
            </tr>

            {% for approval in approvals %}
                <tr>
                    <td><a href="{{ approval.client_id|e }}">{{ approval.client_id|e }}</a></td>
                    <td>{{ approval.expires_at|e|date("Y-m-d H:i:s") }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% include 'footer.html' %}
    </div> <!-- /container -->
</body>
</html>
